{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" href="{% static 'cs/About_us.css' %}">
    <script src="{% static 'js/About_us.js' %}"></script>
    <title>About Us - YallaDo</title>
</head>
<body>

    <header>
        <nav>
           <div class="nav-left">
                    <a href="Home.html" class="y-icon">Y</a>
                    <a href="Home.html" class="logo-brand">YallaDo</a>
                </div>
            
           
    
        </nav>
    </header>

    <main>
        <h2>About Us</h2>
        
        <p>
            <font size="4">
                Welcome to <strong>YallaDo</strong>, your smart School Task Assignment system.
            </font>
        </p>

        <p>
            We are a team of passionate students who developed YallaDo.
            Our goal is to solve a real problem faced by many schools like the inefficient and paper-based way of assigning 
            and tracking tasks between administration and teachers.
        </p>

        <p>
            <strong>Our Mission:</strong><br>
            To digitalize the communication between school administration and teachers. 
            We provide an innovative, easy-to-use platform that makes task distribution faster, clearer, and more organized 
            allowing teachers to focus more on teaching and less on administrative paperwork.
        </p>

        <h3>What Do We Offer?</h3>
        <ul>
            <li><strong>For School Admins:</strong> A comprehensive dashboard to easily create, assign, edit, delete, and track tasks given to teachers.</li>
            <li><strong>For Teachers:</strong> A clean and simple interface to view their assigned tasks, filter them by priority, mark them as completed, and stay organized.</li>
        </ul>

        <h3>Why YallaDo?</h3>
        <ul>
            <li>Simple and intuitive user interface</li>
            <li>Real-time task tracking and updates</li>
            <li>Significantly reduces paperwork and saves time</li>
            <li>Built with modern web technologies</li>
            <li>Designed specifically to meet school needs</li>
        </ul>
    </main>

    <footer>
           
        <h3>Assign smart Not hard</h3>


        <hr>
        <p>
            <a href="About_us.html">About Us</a>
            <a href="Contact.html">Contact Us</a>
        </p>
        <p>&copy; 2026 All Rights Reserved.</p>
    </footer>

</body>
</html>